body {
  background-color: bisque;
  background-image: url("../Imagenes/inicio.jpg");
  background-position: center;
  background-size: 100%;
  background-position: 10% 0;
  /*display: grid;*/
  /*place-items: center;*/
}
#logo {
  text-align: center;
  
  
}
#musica{
  margin-left: auto;
  position: absolute;
  bottom: 0;
  
 /*display: flex;
  align-items: center;*/

}
#musica::-webkit-media-controls-panel { /*cambias lo de dentro del reproductor*/
  background-color: rgb(212, 180, 140);
}



#boton {
  color: rgba(241, 210, 170, 0.195);
  background-color: rgba(241, 210, 170, 0.195);
  border:none;
  /*display: none;*/
}
.modal{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
  background-image: url("../Imagenes/misiva.png");
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  width: 450px; 
  height: 300px/* Could be more or less, depending on screen size */
}
#texto-misiva{
  margin-top: 80px;
  margin-left: 40px;
  line-height: 3em;
  font-weight: bold;
  
}
.close {
  color: #050505;
  float: right;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: rgb(250, 250, 250);
  text-decoration: none;
  cursor: pointer;
}
#myBtn{
  color: rgba(241, 210, 170, 0.195);
  background-color: rgba(241, 210, 170, 0.195);
  border:none;
}
#misiva{
  width: 80px;
  height: 60px;
}
#moneda{
  width: 80px; 
  height: 50px;
}
#superDiv{
  color: rgba(0, 0, 0, 0.732);
  background-color: rgba(241, 210, 170, 0.674);
  border:solid 10px rgba(81, 56, 24, 0.421);
  border-radius: 30px;
  display: flex;
  justify-content: space-around;
  height:80px;
  width: 600px;


}

#monedas-interfaz{
  margin-left: 8px;
  font-size: 3em;
  color:rgb(0, 0, 0);
  border-radius: solid black;
 
}
/*#progressBar{
    width: 400px;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
    background-color: grey;
    margin-top: 60px;
    margin-left: 80px;
    position: absolute;
   z-index: 999;
  

  }*/

#progress {
  width: 400px;
  background-color: #d06106a2;
  border-radius: 10px;
}

#progress::-webkit-progress-bar {
  background-color: #585a58be;
  border-radius: 10px;
}

#progress::-webkit-progress-value {
  background-color: #51280558;
  border-radius: 10px;
}

#progress.in-progress::-webkit-progress-value {
  background-color: #3cb5348b; /* Cambia el color de la barra de progreso cuando está en progreso */
}

/* #myBar{
    width: 1%;
    height: 30px;
    text-align: center;
    border-radius: 10px;
    background-color: green;

  }  
  */
#start-btn {
  background-color: rgb(152, 92, 53);
  color: white;
  padding: 30px;
  font-size: 20px;
  margin-top: 40px;
  border-radius: 10px;
  margin-bottom: -50px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
}
/* fondo del juego aqui*/
#divMoneda{
  display: flex;
  justify-content: center;
  align-items: center;
}
#game-box {
  top: -60px;
  position: relative;
  display: flex;
  
  margin: auto;
 /* justify-content: space-between;*/


  
  
  
  /*background-image: url("../Imagenes/panel_fondo.png");
  background-position: center;
  background-size: cover;*/
  display: none;

  color: rgba(241, 210, 170, 0.555);
  background-color: rgba(241, 210, 170, 0.674);
  border:solid 10px rgba(81, 56, 24, 0.421);
  border-radius: 30px;
  /*display: flex;*/
  
  
  width: 600px;
  height: 600px;

    /*permite posicionar los elementos de forma absoluta dentro del game-box */
  overflow: hidden; /* previene que los elementos salgan visualmente del game-box */
 /* user-select: none;*/
} /* previene que los elementos del game-box sean resaltados al hacer click 
  
    /*background-image: url("../Imagenes/fondo.jpg");/
    background-color:bisque;
    background-position: center;
    background-size: cover;
  
  }
  
 */

#game-screen,
#game-over-screen {
  display: none; /* el elemento desparece temporalmente de la pantalla */

}
#texto-fin{
  position: relative;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  

  color: rgba(241, 210, 170, 0.555);
  background-color: rgba(241, 210, 170, 0.674);
  border:solid 10px rgba(81, 56, 24, 0.421);
  border-radius: 20px;
  margin-bottom: 10px;
  width: 600px;
  height: 820px;
}
#letras-fin{
  margin-top: 10px;
}
#carcel{
  color: #050505;
  text-align: center;
  font-size: 2em;
}
#fin{
  margin-top: 10px;
}
/*BARRAS DE PROGRESO, PILLADO DE QUIZ
  #progress {
    width: 100%;
    background-color: #ddd;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 5px;
}

#progressBar {
    height: 20px;
    background-color: red;
    width: 0%;
    border-radius: 8px;
}

#result-progress {
    width: 100%;
    background-color: #ddd;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 5px;
}

.divider {
    width: 100%;
    height: 20px;
    background-color: #ddd;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 5px;
}

#resultProgressBar {
    width: 100%;
    height: 20px;
    background-color: #4caf50;
    width: 100%;
    border-radius: 8px;
}*/
