body {
  background-color: bisque;
  background-image: url("../Imagenes/inicio.jpg");
  background-position: center;
  background-size: 100%;
  background-position: 10% 0;
  /*display: grid;*/
  /*place-items: center;*/
}
#logo {
  margin-left: 100px;
}
.musica{
  margin-left: 170px;
  
  /*display: flex;
  align-items: center;*/
  
  
  

}
#boton {
  color: rgba(241, 210, 170, 0.195);
  background-color: rgba(241, 210, 170, 0.195);
  /*display: none;*/
}
/*#progressBar{
    width: 400px;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
    background-color: grey;
    margin-top: 60px;
    margin-left: 80px;
    position: absolute;
   z-index: 999;
  

  }*/

#progress {
  width: 400px;
  background-color: #d06106a2;
  border-radius: 10px;
}

#progress::-webkit-progress-bar {
  background-color: #585a58be;
  border-radius: 10px;
}

#progress::-webkit-progress-value {
  background-color: #51280558;
  border-radius: 10px;
}

#progress.in-progress::-webkit-progress-value {
  background-color: #3cb5348b; /* Cambia el color de la barra de progreso cuando está en progreso */
}

/* #myBar{
    width: 1%;
    height: 30px;
    text-align: center;
    border-radius: 10px;
    background-color: green;

  }  
  */
#start-btn {
  background-color: rgb(152, 92, 53);
  color: white;
  padding: 30px;
  font-size: 20px;
  margin-top: 40px;
  border-radius: 10px;
  margin-bottom: -50px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
}
/* fondo del juego aqui*/
#game-box {
  /*background-image: url("../Imagenes/panel_fondo.png");
  background-position: center;
  background-size: cover;*/
  display: none;

  color: rgba(241, 210, 170, 0.555);
  background-color: rgba(241, 210, 170, 0.674);
  border:solid 10px rgba(81, 56, 24, 0.421);
  border-radius: 30px;
  /*display: flex;*/
  align-items: center;
  
  width: 600px;
  height: 600px;

  position: relative;  /*permite posicionar los elementos de forma absoluta dentro del game-box */
  overflow: hidden; /* previene que los elementos salgan visualmente del game-box */
 /* user-select: none;*/
} /* previene que los elementos del game-box sean resaltados al hacer click 
  
    /*background-image: url("../Imagenes/fondo.jpg");/
    background-color:bisque;
    background-position: center;
    background-size: cover;
  
  }
  
 */

#game-screen,
#game-over-screen {
  display: none; /* el elemento desparece temporalmente de la pantalla */
}

/*BARRAS DE PROGRESO, PILLADO DE QUIZ
  #progress {
    width: 100%;
    background-color: #ddd;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 5px;
}

#progressBar {
    height: 20px;
    background-color: red;
    width: 0%;
    border-radius: 8px;
}

#result-progress {
    width: 100%;
    background-color: #ddd;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 5px;
}

.divider {
    width: 100%;
    height: 20px;
    background-color: #ddd;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 5px;
}

#resultProgressBar {
    width: 100%;
    height: 20px;
    background-color: #4caf50;
    width: 100%;
    border-radius: 8px;
}*/
